VR[[:space:]]-[[:space:]]Homework[[:space:]]03[[:space:]]-[[:space:]]source[[:space:]]code/ filter=lfs diff=lfs merge=lfs -text
VR[[:space:]]-[[:space:]]Homework[[:space:]]03[[:space:]]-[[:space:]]source[[:space:]]code/* filter=lfs diff=lfs merge=lfs -text
VR[[:space:]]-[[:space:]]Homework[[:space:]]03[[:space:]]-[[:space:]]source[[:space:]]code filter=lfs diff=lfs merge=lfs -text
